{% extends 'pages/base.jinja' %}

{% block title%}
Flask About
{%endblock%}

{% block content%}
<h1> PAGE NOT FOUND!!</h1>
<p>And there's the truth that they can't see
They'd probably like to throw a punch at me
And if you could only see 'em, then you would agree
Agree that there ain't no romance around there</p>
<p><a href="/" role="button">Go Home</a></p>
{%endblock%}