{% extends 'pages/base.jinja' %}

{% block title%}
Flask About
{%endblock%}

{% block content%}
<h1> About Flask</h1>
<p>Well, oh, they might wear classic Reeboks, Or knackered Converse, Or tracky bottoms tucked in socks. But all of that's what the point is not, The point's that there ain't no romance around there.</p>
{%endblock%}