<!DOCTYPE html>

<html lang="en">

<head>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.amber.min.css"
>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>


</head>

<body>

<header>

<nav>

<ul>

<li>

Flask Demo

</li>

</ul>

<ul>

<li><a href="">Home</a></li>
<li><a href="">About</a></li>
<li><a href="">Random</a></li>

</ul>

</nav>

</header>

{% block content %}{% endblock %}

</body>



</html>