{% extends 'pages/base.jinja' %}

{% block title%}
form data
{%endblock%}

{% block content%}
<h2>you enterred the following data</h2>

<article id="form">
<h2>Name</h2>
{{ name }}

<h2>Age</h2>
{{ age }}

</article>
    <p>hey look thats not my name</p>

{%endblock%}